:root{
    color-scheme: ligth dark;
    --green: #00b755;
    --yellow: #daaf38;
    --red: #ca4754;
    --black: #222;
    --gray: #999;
}

body {
    background: var(--black);
    font-family: Menlo, monospace;
    display: grid;
    padding: 32px;
    justify-content: center;
    margin-top: 32px;
    padding: 16px;
}

section{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 500px;
}

time{
    color: var(--yellow);
}

input{
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

p{
    display: flex;
    flex-wrap: wrap;
    gap: 3px 8px;
    margin: 0;
}

x-letter{
    color: var(--gray);
    position: relative;

    &.active::before{
        content: '|';
        color: var(--yellow);
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        left: -65%;
        animation: 1s blink infinite ease-in-out;
    }

    &.active.is-last::before{
        left: 65%;
    }

    &.correct{
        color: white;
    }

    &.incorrect{
        color: var(--red);
    }

}

x-word{
    border-bottom: 1.5px solid transparent;
    transition: border-color 0.3s ease-in-out;

    &.marked {
        border-color: var(--red);
    }
}

@keyframes blink{
    0%, 25%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
}